body{
    background-color: rgb(58, 58, 58);
}

div.col{
    font-size: 90%;
    
}

div.row.date{
    color: white;
    background-color: rgb(66, 66, 66);
    height: 24px;
        
}

div.container{
    padding-right: 0;
    padding-left: 0;
}

div.col.day{
    background-color: white;    
    padding-right: 1px;
    padding-left: 1px;
}

hr{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

div.dayhead{
    color: white;
    background-color: rgb(38, 81, 149);
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

div.clip{
    margin: 0px;
    height: 256px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

div.dayoftheweek{
    color: white;
    background-color: rgb(100, 159, 255);
}

div.navigation{
    background-color: rgb(58, 58, 58);
    position: sticky;
    top: 0;
    z-index: 1000;
}